# Pandas Problem Set

In [3]:
import pandas as pd
#from google.colab import files
import numpy as np
import matplotlib.pyplot as plt

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years old
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insulin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [4]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [52]:
# your code here

data = pd.read_csv(url, names=names)
data1 = pd.read_csv(url, names=names)
data.head(4)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0

Print out the age and class of the 100th patient

In [7]:
# your code here
data.iloc[99:100, 7:]

    age  class
99   31      1

Write code to figure out how many people are classified as not having diabetes, class is 1

In [8]:
# your code here

filtered_dataframe_by_age = data[data['class']==0]
len(filtered_dataframe_by_age)

500

Write code to figure out how many people are classified as having diabetes, class is 0

In [14]:
# your code here
filtered_dataframe_by_age1 = data[data['class']==1]
len(filtered_dataframe_by_age1)

268

What percent of people have diabetes in the study?

In [16]:
# your code here

len(filtered_dataframe_by_age1)/(len(filtered_dataframe_by_age1)+len(filtered_dataframe_by_age))

0.5

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial. Google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [20]:
# your code here
data.iloc[0:5, [2,8]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [47]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,-0.090975,-0.039003,-0.670519,-0.642021,-0.477308,-0.456750,0.777921,0.090092
plas,-0.090975,1.000000,-0.227317,-0.335827,0.160084,-0.074382,-0.143286,0.079135,0.528471
pres,-0.039003,-0.227317,1.000000,0.018704,-0.243099,0.139885,-0.341357,0.066223,-0.365205
skin,-0.670519,-0.335827,0.018704,1.000000,0.567537,0.456963,0.102333,-0.755490,-0.364642
test,-0.642021,0.160084,-0.243099,0.567537,1.000000,0.105605,0.106230,-0.636700,-0.197965
mass,-0.477308,-0.074382,0.139885,0.456963,0.105605,1.000000,-0.069750,-0.493714,0.051634
pedi,-0.456750,-0.143286,-0.341357,0.102333,0.106230,-0.069750,1.000000,-0.402031,-0.079696
age,0.777921,0.079135,0.066223,-0.755490,-0.636700,-0.493714,-0.402031,1.000000,0.108459
class,0.090092,0.528471,-0.365205,-0.364642,-0.197965,0.051634,-0.079696,0.108459,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [50]:
# your code here
data['plas'].mean()

0.30658192734943174

Create a new dataframe with only people that are above the mean found above

In [58]:
newdata=data1[(data['plas'] > data['plas'].mean())]
newdata.head(5)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
2     8   183    64     0     0  23.3  0.672   32      1
4     0   137    40    35   168  43.1  2.288   33      1
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

What percent of this new dataframe has diabetes?

In [56]:
# your code here

percentage = len(data1[data1['class']==1])/(len(data1[data1['class']==1])+len(data1[data1['class']==0])) 
percentage

0.3489583333333333

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [62]:
# write code here
preg = data1['preg'].mean()
plas = data1['plas'].mean()
pres = data1['pres'].mean()
mass = data1['mass'].mean()
skin = data1['skin'].mean()
test = data1['test'].mean()
pedi = data1['pedi'].mean()
age = data1['age'].mean()

newdata=data1[(data['plas'] > data['plas'].mean())& (data['preg'] > data['preg'].mean()) & (data['pres'] > data['pres'].mean()
 ) &   (data['mass'] > data['mass'].mean())& (data['skin'] > data['skin'].mean())  & (data['test'] > data['test'].mean())    
              & (data['pedi'] > data['pedi'].mean())          & (data['age'] > data['age'].mean())                                                                           ]
newdata.head(5)

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1

Using what you have learned (and google!) explore the data. Discuss what you find with people around you or the instructors

In [0]:
# write code here